[Desktop Entry]
Type=Application
Version=1.0
Name=Icechat
Name[en_GB]=MyApp
GenericName=MyApp
GenericName[en_GB]=MyApp
Comment=MyApp
Icon=myapp.png
TryExec=myapp
Exec=myapp
Terminal=false
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=GNOME;Network;
Encoding=UTF-8
